@using DevryService.Web.Components
@model DevryService.Web.Models.Class.CategoryViewModel

@{
    string classname = Model.Category.ChannelName.OnlyLettersAndNumbers();
    
    string headerId = $"{classname}-header";
    string contentId = $"{classname}-content";
}

<div class="accordion-item">
    <h2 id="@headerId" class="accordion-header">
        <button
            class="accordion-button text-white bg-secondary"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#@contentId"
            aria-expanded="false"
            aria-controls="@contentId">
            @Model.Category.ChannelName
        </button>
    </h2>
    
     <div id="@contentId" class="accordion-collapse collapse" aria-labelledby="@headerId" data-bs-parent="#accordion">
          <div class="accordion-body">
            @foreach (ChannelModel channel in Model.Children)
            {
                <h6>@channel.ChannelName</h6>
                <p>@channel.ChannelType</p>
                <hr/>
                <ChannelComponent Channel="@channel"/>
            }
          </div>
    </div>
</div>